
.calculator {
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  width: 400px; /* Adjusted width */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.calculator input[type="text"] {
  font-size: 18px;
  border: 1px solid #ccc;
  background-color: grey;
  border-radius: 5px;
  width: 90%;
  height: 15%;
  color: white;
  margin-top: -4%;
  position: absolute;
}

.calculator .numbers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  position: absolute;
  margin-top: 21%;
}

.calculator button {
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 92px;
  text-align: center;
}

.operation button {
  background-color: orange;
}

.calculator button:hover { background-color: rgb(186, 185, 185); }

.calculator button:active {
  background-color: rgb(158, 155, 155);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.calculator button.zero {
  width: 195px;
}

.zeroDiv {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  position: absolute;
  margin-top: 57%;
}

.operators {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.operation {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  align-self: flex-end;
  margin-top: 10%;
}

.top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 9%;
  position: absolute;
}

.top button.clear {
  background-color: green;
}

.top button.clear:hover { background-color: #3e8e41; }

.top button.clear:active {
  background-color: red;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
